{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<!--suppress XmlDeprecatedElement -->
<center>
<div class="p-5 bg-light">
  <div class="container">
    <h1 class="display-3">Formulario F_AA_119</h1>
    <hr class="my-2">
    <p class="lead">
    </p>
  </div>
</div>
{% if submitted %}
  Your Venue Was submitted
  Succesfully!

{% else %}

  <form action="" method=POST>
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Submit" class="btn btn-secondary">
  </form>

{% endif %}

</center>

{% endblock %}
